.top{width:80%;
     position: absolute;
     top:5%;
     left:10%;
     }

.nav-br{font-family: 'Playfair Display SC', serif;
        }




.img-main{width:57%;
          height:41%;
          position:absolute;
          top:20%;
          left:10%;
          }

.box-rs{position: absolute;
        top:20%;
        left:69%;
        width:20%;
        background:#2d033b;;
        color:#fff;
        padding:2%;}

.box-rs-h4{font-size:100%;}

.box-rs-p{font-size:72%;
          font-weight:100;}

.box-rs-hr{padding:1%}

.box-rs-h2{padding-bottom:3%;
           color:#a4be7b}

.main-h1{width:20%;
         position: absolute;
         top:65%;
         left:10%;
         line-height:95%;
         font-weight: 900;}

.box-sub{position: absolute;
        top:65%;
        left:40%;
        width:23%;
        font-size:85%;}

.box-sub-bt{background: #ff7000;
            padding:3% 6%;
            color:#fff;
            border:0;}

.img-s1{width:6%;
        height:20%;
        position: absolute;
        left:10%;
        top:100%;}

.div-s1{width:15%;
        position: absolute;
        left:17%;
        top:100%;}

.s1-h3, .s2-h3, .s3-h3{font-size:90%;
       font-weight:800;}

.s1-p, .s2-p, .s3-p{font-size:80%;}

.s1-h2, .s2-h2, .s3-h2{color:#7fe9de;}

.img-s2{width:6%;
        position: absolute;
        height:20%;
        left:40%;
        top:100%;}

.div-s2{width:15%;
        position: absolute;
        left:47%;
        top:100%;}

.img-s3{width:6%;
        position: absolute;
        height:20%;
        left:69%;
        top:100%;}

.div-s3{width:13%;
        position: absolute;
        left:76%;
        top:100%;}

.con:toggle{background:#fff;
            z-index:5}

@media (max-width:370px) {

.img-main{width:90%;}

.main-h1{width:80%;
         font-size:40px}

.box-sub{width:100%;}

.main-p{position:absolute;
        width:85%;
        top:130px;
        right:160px;
        font-size:15px;
        }

.box-sub-bt{position:absolute;
            width:160px;
            top:250px;
            right:320px;
            }

.div-s1{position: absolute;
                top:1200px;
                left:200px;
                width:200px;
                font-size:20px;}

.s1-h2{font-size:50px;}

.s1-p{font-size:10px;}

.img-s1{position: absolute;
        width:150px;
        height:150px;
        top:1200px;}


.div-s2{position: absolute;
         width:200px;
         font-size:20px;
         left:200px;
         top:1400px;}

.s2-h2{font-size:50px;}

.s2-p{font-size:10px;}

.img-s2{position: absolute;
  width:150px;
  height:150px;
  left:40px;
  top:1400px;}

.div-s3{position: absolute;
  width:200px;
  font-size:20px;
  left:200px;
  top:1600px;}

.s3-h2{font-size:50px;}

.s3-p{font-size:10px;}

.img-s3{position: absolute;
  width:150px;
  height:150px;
  left:40px;
  top:1600px;}



.box-rs{position: absolute;
        top:650px;
        width:90%;
        left:40px;
        font-size:25px;

        }

.top{width:90%;}

.con{z-index:3;
     background:#fff;
   }

}
